<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="css/regies-styling.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

</head>

<body>




  <div class="topnav" id="myTopnav">
    <a class="active">Registration App</a>

    <a href="#back" class="reload">Reload Page</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>




  <div class="bg-text">

    <fieldset>
      <legend>Registration System</legend>



      <form action="/action" method="POST">
        <input type="text" class="regBox" name="RegEntry" placeholder="enter a new plate" value=""><br>
        <label for="plates">eg; CA 123456, CF 123-456, CL 123-456, CJ 765987</label>
        <br><br>
        <button class="add" on type="submit" name="button">Add</button>
      </form>

      <form action="/reset" method="GET">
        <button class="reset" on type="submit" name="button">Reset Storage</button>
      </form>



      <br><br>
      <form action="/reg_numbers" method="POST">
        <input class="rad1" type="radio" id="Cpt" name="showTown" value="Cape Town">
        <label for="Cpt">Cape Town</label>
        <input class="rad1" type="radio" id="Paarl" name="showTown" value="Paarl">
        <label for="Paarl">Paarl</label>
        <input class="rad1" type="radio" id="Stellies" name="showTown" value="Stellenbosch">
        <label for="Stellies">Stellenbosch</label>
        <input class="rad1" type="radio" id="Bellville" name="showTown" value="Bellville">
        <label for="Bellville">Bellville</label>

        <button class="show" on type="submit" name="button">Show</button>
      </form>
      <br><br>

    </fieldset>
    <br><br>

    <form action="showAlltown" method="GET">

      <button class="showAll" on type="submit" name="showAll">Show All</button>

    </form>





  </div>







  <div class="dispReg">


    {{#each regiesData}}
    <plates>{{regnumber}}</plates>
    {{/each}}

    {{#each displayReg}}
    <plates>{{regnumber}}</plates>
    {{/each}}

    {{#each allTowns}}
    <plates>{{regnumber}}</plates>

    {{/each}}


  </div>

  
  <div class="error {{color}}">{{error}}
  

  


  </div>










  {{!--
  <script src="./tests/factorieReg.js" type="text/javascript"></script>
  <script src="./js/regies.js" type="text/javascript"></script> --}}


</body>









</html>